<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269891100934-f06bj5m4tkkrjgv5o830eap9v3ji6bjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269891100934-f06bj5m4tkkrjgv5o830eap9v3ji6bjp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269891100934-e8sbc9125eb9urvr1ku2v3sc2je917j9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXV7Dw1YTIo-4YFKu1n5I71X1DdkYE-8k</string>
	<key>GCM_SENDER_ID</key>
	<string>269891100934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-74858</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-74858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269891100934:ios:efdafa985a3c2336317e87</string>
</dict>
</plist>